@import "../../node_modules/normalize-styl/normalize.styl"

.Main
	display: flex;
	flex-direction column
	justify-content: center;
	background-color #fafafa
	
@import "../pages/header/style.styl"
@import "../pages/portada/style.styl"
@import "../pages/form/style.styl"
@import "../pages/footer/style.styl"
