@import "../../node_modules/normalize-styl/normalize.styl"

.Main
	display: flex;
	flex-direction column
	justify-content: center;
	background-color #fafafa
	
@import "../pages/header/style.styl"
@import "../pages/portada/style.styl"
@import "../pages/form/style.styl"
@import "../pages/footer/style.styl"

.Font-playfair
	font-family 'Playfair Display' serif

.Font-abril
	font-family 'Abril Fatface' cursive

.Font-bevan
	font-family 'Bevan' cursive

.Font-alegreya
	font-family 'Alegreya Sans' sans-serif

.Font-francois
	font-family 'Francois One' sans-serif

.Font-librebasker
	font-family 'Libre Baskerville' serif

.Font-lato
	font-family 'Lato' sans-serif

.Font-merriw
	font-family 'Merriweather' serif

.Font-merriws
	font-family 'Merriweather Sans' sans-serif

.Font-openssans
	font-family 'Open Sans' sans-serif

.Font-roboto
	font-family 'Roboto Condensed' sans-serif

.FontStylebold
	font-style bold
	font-weight 700

.Fontcolor1
	color rgba(39,62,72,0.86)
