section.Portada
	.Portada-wrapper
		.Portada-img
			//- img(src="../img/cielo.jpg", class="img-item")
			.Portada-myimage
				img(src="img/cara.png", class="medium-img")
			.Portada-texto
				h1.Portada-titulo Daniel Nava Viveros
				h3.Portada-subtitulo Web Developer
			.Portada-quote
				quote.quote "Muy bien, la cama elástica era una mala idea. Pero ¿sabes qué? Al menos yo ando tratando cosas nuevas" 
				quote.autor Homero Simpson
