section.Proy-recientes
	.Proy-recientes-wrapper
			.Proy-recientes-header.text-header Proyectos recientes
			.Proy-recientes-galeria
				.proy
					img(src="img/proyectos-img/webadmin.png", alt="", class="proy-img")
				.proy
					img(src="img/proyectos-img/agenda-angular.png", alt="", class="proy-img")
				.proy
					img(src="img/proyectos-img/webadmin.png", alt="", class="proy-img")
			.Proy-recientes-vermas
				.border-box.text-body Ver mis proyectos
	.separador-hr
