section.Proy-recientes
	.Proy-recientes-wrapper
			.Proy-recientes-header.text-header Proyectos recientes
			.Proy-recientes-galeria
				.proy
					img(src="img/proyectos-img/webadmin.png", alt="", class="proy-img")
				.proy
					img(src="img/proyectos-img/agenda-angular.png", alt="", class="proy-img")
				.proy
					img(src="img/proyectos-img/webadmin.png", alt="", class="proy-img")
			.Proy-recientes-vermas
				button.btn-white.border-box.text-body(onClick="location.href='#'") Ver mis proyectos
	//-.separador-hr
