.Footer
	display flex
	flex-direction row
	width 100vw
	height 300px
	color white
	background-color #333
	justify-content center
	
	&-wrapper
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		width 1024px
	&-menu
		display flex
		flex-direction column
		list-style-type none
		justify-content space-around
		//width 400px
		margin 0px
		padding 0px