footer.Footer
	.Footer-wrapper
		.Footer-social
			ul.Footer-menu
				li FB
				li TW
				li Git
				li Inst
				li In
		.Footer-description
			strong Daniel Nava Viveros
		.Footer-tools
			ul.Footer-menu
				li Heroku
				li Ghost
				
