footer.Footer
	.Footer-wrapper
		.Footer-social
			.myname Daniel Nava Viveros
			.mytitle Desarrollador Web
			.mysummary Desarrollo del Frontend y Backend en HTML5, CSS3, JavaScript / Node.Js, Heroku 
			.hr
			span ¡Sígueme!
			ul.Footer-menu.list
				li.icon-facebook
				li.icon-twitter
				li.icon-github
				li.icon-instagram
				li.icon-linkedin
		.Footer-description
			.copyright 2015 - 2016 dnViveros
		.Footer-tools
			ul.Footer-menu
				li Heroku
				li Ghost
				
