doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/style-fonts.css")
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Abril+Fatface|Bevan|Alegreya+Sans:400,700,400italic,500italic,700italic|Francois+One|Libre+Baskerville:400,400italic,700|Lato:400,700,400italic,700italic|Merriweather:400,400italic,700,700italic|Merriweather+Sans:400,400italic,700|Open+Sans:400,400italic,700,700italic|Roboto+Condensed:400,400italic,700,700italic')
  body
    main.Main
      block content
      script(src="https://code.jquery.com/jquery-2.1.1.min.js")
