.Header
	display flex
	flex-direction row
	width 100vw
	height 55px
	color white
	background-color #333
	justify-content center
	&-wrapper
		display flex
		flex-direction row
		align-items center
		width 1024px
		justify-content space-around
		height 100%
	&-image
		display flex
		justify-content center
		align-items center
		width 50px
		border-radius 50%
	&-logo
		display flex
		width 300px
		font-size 2rem
		padding-left 0.5em;
	&-nav
		display flex
		justify-content flex-end
		width 100%
		font-size 1.2rem
		height 100%
		align-items center
	&-menu
		display flex
		flex-direction row
		list-style-type none
		justify-content space-around
		width 400px
		margin 0px
		height 100%
		align-items center
		&-item
			height 100%
			width 80px
			display flex
			cursor pointer
			border-top 7px solid #333
			align-items center
			justify-content center
		&-item:hover
			//background-color rgba(#575050, 0.9)
			height 100%
			width 80px
			display flex
			cursor pointer
			border-top 7px solid #ffbf00
			align-items center
			justify-content center
			
		
.enfasis
	color #ffbf00
	
.mini-img
	width 50px
	border-radius 50%
	border 2px solid #ffbf00