header.Header
	.Header-wrapper
		.Header-image
			img(src="img/cara.png", class="mini-img")
		.Header-logo @dn
			strong.enfasis Viveros
		nav.Header-nav
			ul.Header-menu
				li.Header-menu-item Sobre Mi
				li.Header-menu-item Portafolio
				li.Header-menu-item Blog
				li.Header-menu-item Contacto
