.Form
	display flex
	flex-direction column
	width 100vw
	height 400px
	justify-content center
	align-items center
	
	&-wrapper
		display flex
		flex-direction row
		align-items center
		justify-content center
		width 1024px
		
.form-inputs
	display flex
	flex-direction row
	align-items stretch
	margin 30px 0px
	
.card
	display flex
	flex-direction column
	justify-content center
	align-items center
	background-color #e5e5e5
	width 750px
	padding 30px
	border-radius 6px
	
	& input[type=email]
		height 3rem
		width 350px
		border-style none
		padding 0px 0px 0px 1.5rem
	& input[type=email]:focus
		color rgba(#eaeaea, 1)
.btn
	background-color yellow
	height 3rem
	border-color yellow
	border-style solid
	border-width 1px
	padding 5px
	margin 0px