section.Form
	.Form-wrapper
		form.card 
			h4 Regístrate para recibir las actualizaciones
			.form-inputs
				input(type="email", placeholder="Correo electrónico", name="email", required)
				button(type="submit", class="btn") Regístrate